POLAR_ACCESS_TOKEN=
POLAR_ORGANIZATION_ID=8793e672-b922-4821-ba2b-138e4acccdb7
POLAR_API_BASE_URL=https://sandbox-api.polar.sh/v1
NEXT_PUBLIC_POLAR_CHECKOUT_URL=https://sandbox-api.polar.sh/v1/checkout-links/polar_cl_MdCkWR7SJGbO7FEEK74SmwlN31U1V6DYii3ih3AFr8h/redirect
